@mixin fancyLink {
	background-image: linear-gradient($pink, $pink);
	background-position: 0 100%;
	background-repeat: no-repeat;
	background-size: 100% .8rem;
	color: $darkText;
	padding: .2rem;
	text-decoration: none;
	transition: background-size cubic-bezier(0,.5,0,1) .3s;

	&:hover {
		background-image: linear-gradient($yellow, $yellow);
		background-size: 100% 100%;
		text-decoration: none;
	}
}

@mixin shadowbox {
	background-color: white;
	border-radius: 12px;
	box-shadow: rgba(122, 56, 20, 0.18) 0 11px 28px -8px;
}

/* MEDIA QUERIES */

@mixin r( $point ) {
	@if $point==600 {
		@media ( min-width: 600px ) {
			@content;
		}
	}
	@if $point==768 {
		@media ( min-width: 768px ) {
			@content;
		}
	}
	@if $point==960 {
		@media ( min-width: 960px ) {
			@content;
		}
	}
	@if $point==1024 {
		@media ( min-width: 1024px ) {
			@content;
		}
	}
	@if $point==1140 {
		@media ( min-width: 1140px ) {
			@content;
		}
	}
	@if $point==1500 {
		@media ( min-width: 1500px ) {
			@content;
		}
	}
}

/*height*/
@mixin h( $point ) {
	@if $point==768 {
		@media ( min-height: 768px ) {
			@content;
		}
	}
	@if $point==960 {
		@media ( min-height: 960px ) {
			@content;
		}
	}
}

/* ANIMATIONS */

@keyframes slide {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
