@import "styles/variables";
@import "styles/mixins";
@import "styles/modal";

:root {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  background: white no-repeat;
  color: $darkestGreen;
  font: 1.8rem $font-stack;
  line-height: 1.43;
  margin: 0;
  &.transparent {
    background-color: transparent;
  }

  &.no-scroll {
    overflow-y: hidden;
    position: fixed;
    width: 100%;
  }
}

.modal-mask-in {
  filter: blur(5px);
}

.centered {
  margin: 0 auto;
  text-align: center;

  @include r(768) {
    max-width: 1200px;
  }
}

header {
  background-color: white;
  padding: .8rem 1.6rem;

  @include r(374) {
    padding: 1.6rem 2.4rem;
  }
  @include r(600) {
    border-bottom: 1px solid lighten($lightestGreen, 5%);

    &.noborder {
      border-bottom: 0;
    }
  }
  @include r(768) {
    background-color: transparent;
    padding: 1.6rem;
    position: relative;
  }

  &.transparent {
    background-color: transparent;
  }

  &.sticky {
    position: sticky;
    top: 0;
    z-index: 10;

    @include r(768) {
      position: static;
    }
  }

  .centered {
    align-items: center;
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 100%;
  }
}

.logo {
  height: 5.8rem;
  width: 11.7rem;
}

a {
  color: $darkGreen;
}

a.button {
  text-decoration: none;
}

.link {
  &.fancy {
    @include fancyLink
  }
}

button, a.button {
  @include button;
}

h1, h2, h3, h4, p {
  margin: 0;
}

h1 {
  font-size: 2.8rem;
  font-weight: bold;

  @include r(768) {
    font-size: 4.8rem;
  }
}

h2 {
  font-size: 2.4rem;

  @include r(768) {
    font-size: 4rem;
  }
}

h3 {
  font-size: 1.8rem;

  @include r(768) {
    font-size: 2rem;
  }
}

h4 {
  font-size: 1.4rem;
  letter-spacing: 2px;
  text-transform: uppercase;

  @include r(768) {
    font-size: 1.6rem;
  }

  &.maroon {
    color: $darkestPink;
  }
}

.alert {
  animation: slide 0.5s ease-in-out forwards;
  margin: 0 0 2.4rem;
  opacity: 0;
  padding: 3.2rem;
  transform: translateY(-3.2rem);
  width: 100%;

  &.error {
    background: $darkText url(/assets/images/sadCactusPatternWhiteTransparent.svg);
    background-size: 430px;
    border-radius: 6px;
    color: white;

    img {
      fill: $lightPink;
    }
  }

  &.success {
    background: $lightGreen;
    border-radius: 6px;
    color: $darkestGreen;
    padding: 1.6rem;
  }
}

.hidden {
  display: none;
}

.appStoreBadge {
  display: block;
  height: 4rem;
  margin: 0 .4rem;

  @include r(768) {
    height: 4.8rem;
  }
}

#auth-confirm-modal {
    color: $darkestGreen;
}
