@import "~styles/variables.scss";
@import "~styles/mixins.scss";
@import "~styles/../../node_modules/firebaseui/dist/firebaseui.css";



@mixin textInput {
  border: 1px solid $green;
  border-radius: 3rem;
  display: block;
  flex-grow: 1;
  font-size: 1.8rem;
  margin: 0 0 1.6rem;
  padding: 1.2rem 1.6rem;
  transition: border-color .3s ease-in-out;

  @include r(600) {
    margin: 0 1.6rem 0 0;
    max-width: 53rem;
  }
  @include r(768) {
    min-width: 32rem;
  }

  &:hover {
    border-color: $darkGreen;
  }

  &:focus {
    box-shadow: 0 0 3px 2pt $darkGreen;
  }

  &:disabled {
      opacity: 1;
  }
}

@mixin textInputAlt {
    border: 1px solid darken($lightestGreen, 5%);
    border-radius: .8rem;
    color: $darkestGreen;
    display: block;
    flex-grow: 1;
    font-family: $font-stack;
    font-size: 1.8rem;
    padding: 1.2rem 1.6rem;
    transition: border-color .3s ease-in-out;

    &:hover {
        border-color: $darkGreen;
    }

    &:focus {
        border-color: $darkestGreen;
        border-weight: 2px;
        outline: 0;
    }

    &:disabled {
        opacity: 1;
    }
}

@mixin textArea {
  border: 1px solid darken($lightestGreen, 5%);
  border-radius: 6px;
  display: block;
  flex-grow: 1;
  font-family: $font-stack;
  font-size: 1.8rem;
  line-height: 1.43;
  max-width: 53rem;
  padding: 1.2rem 1.6rem;
  transition: border-color .3s ease-in-out;
  resize: none;

  @include r(768) {
    min-width: 32rem;
  }

  &:hover {
    border-color: $darkGreen;
  }

  &:focus {
    box-shadow: 0 0 3px 2pt $darkGreen;
    outline: none;
  }
}

@mixin textAreaAlt {
    border: 1px solid darken($lightestGreen, 5%);
    border-radius: .8rem;
    color: $darkestGreen;
    display: block;
    flex-grow: 1;
    font-family: $font-stack;
    font-size: 1.8rem;
    line-height: 1.43;
    max-width: 53rem;
    padding: 1.2rem 1.6rem;
    resize: none;
    transition: border-color .3s ease-in-out;

    @include r(768) {
      min-width: 32rem;
    }

    &:hover {
        border-color: $darkGreen;
    }

    &:focus {
        border-color: $darkestGreen;
        border-weight: 2px;
        outline: 0;
    }
}

@mixin buttonPrimary {

}

@mixin buttonSecondary {
  background-color: transparent;
  box-shadow: none;
  color: $green;
  padding: .8rem 1.2rem;

  &:hover {
    background-color: $lightGreen;
  }
}


input[type=email]:not(.firebaseui-input):not(.firebaseui-input-invalid) {
  @include textInput();
}

input[type=password]:not(.firebaseui-input) {
  @include textInput();
}
