@import "~styles/variables.scss";
@import "~styles/mixins.scss";
@import "~styles/../../node_modules/firebaseui/dist/firebaseui.css";

@mixin textInput {
    border: 0;
    color: $darkestGreen;
    font-family: $font-stack;
    font-size: 1.8rem;
    line-height: 1.4;
    padding: .8rem;
    resize: none;
    transition: border-color .3s ease-in-out;
    width: 100%;

    @include r(768) {
        padding: 1.6rem;
    }

    &:focus {
        outline-color: rgba(0, 0, 0, .3);
    }

    &:disabled {
        opacity: 1;
    }

    &.rounded {
        border-radius: 3rem;
        padding: .8rem 1.6rem;
    }
}

@mixin textInputAlt {
    border: 1px solid darken($lightestGreen, 5%);
    border-radius: .8rem;
    color: $darkestGreen;
    display: block;
    flex-grow: 1;
    font-family: $font-stack;
    font-size: 1.8rem;
    padding: 1.2rem 1.6rem;
    transition: border-color .3s ease-in-out;

    &:hover {
        border-color: $darkGreen;
    }

    &:focus {
        border-color: $darkestGreen;
        outline: 0;
    }

    &:disabled {
        opacity: 1;
    }
}

@mixin textArea {
    background: transparent;
    border: 0;
    color: $darkestGreen;
    font-family: $font-stack;
    font-size: 1.8rem;
    line-height: 1.4;
    opacity: .8;
    padding: .8rem;
    resize: none;
    width: 100%;

    @include r(768) {
        font-size: 2.4rem;
        padding: 1.6rem;
    }
    @include r(960) {
        font-size: 3.2rem;
    }

    &:focus {
        outline-color: rgba(0, 0, 0, .3);
    }
}

@mixin textAreaAlt {
    border: 1px solid darken($lightestGreen, 5%);
    border-radius: .8rem;
    color: $darkestGreen;
    display: block;
    flex-grow: 1;
    font-family: $font-stack;
    font-size: 1.8rem;
    line-height: 1.43;
    max-width: 53rem;
    padding: 1.2rem 1.6rem;
    resize: none;
    transition: border-color .3s ease-in-out;

    @include r(768) {
      min-width: 32rem;
    }

    &:hover {
        border-color: $darkGreen;
    }

    &:focus {
        border-color: $darkestGreen;
        border-weight: 2px;
        outline: 0;
    }
}

@mixin buttonPrimary {

}

@mixin buttonSecondary {
  background-color: transparent;
  box-shadow: none;
  color: $green;
  padding: .8rem 1.2rem;

  &:hover {
    background-color: $lightGreen;
  }
}


input[type=email]:not(.firebaseui-input):not(.firebaseui-input-invalid) {
  @include textInput();
}

input[type=password]:not(.firebaseui-input) {
  @include textInput();
}
