@import "common";
@import "mixins";
@import "variables";

h2 {
    font-size: 2rem;
    margin-bottom: .8rem;

    @include r(768) {
        font-size: 2.4rem;
    }
}

.subtext {
    font-size: 1.6rem;
    margin-bottom: 4rem;
    opacity: .8;

    @include r(768) {
        font-size: 1.8rem;
    }

    &.light {
        opacity: .4;
    }
}

.borderContainer {
  border: 1px solid $lightest;
  border-radius: 1.6rem;
  margin-bottom: 4rem;
  padding: 3.2rem;
  position: relative;

  @include r(600) {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }
  @include r(768) {
    display: block;
    margin-bottom: 4.8rem;
  }
  @include r(960) {
    display: flex;
  }
}

.focusElement {
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
}

.pink {
  color: $magenta;
}

.blue {
  color: $royal;
}



.analysisResults {
  margin: 0 auto;
  max-width: 38rem;
  width: 100%;

  @include r(600) {
    margin-right: 0;
    margin-top: -15rem;
    position: relative;
  }
  @include r(768) {
    margin-right: auto;
    margin-top: -7.2rem;
  }
}

.dotsBtn {
  position: absolute;
  right: 1rem;
  top: 1.6rem;
}

.esButton {
  display: block;
  flex-grow: 0;
  white-space: nowrap;

  @include r(960) {
    width: 100%;
  }

  span {
    display: none;

    @include r(374) {
      display: inline;
    }
  }
}
