@import "common";
@import "mixins";
@import "variables";

h2 {
    font-size: 2rem;
    margin-bottom: .4rem;

    @include r(768) {
        font-size: 2.4rem;
    }
}

h3 {
    color: $mediumDolphin;
    text-transform: capitalize;
    white-space: nowrap;
}

.subtext {
    font-size: 1.6rem;
    opacity: .8;

    &.light {
        opacity: .4;
    }
}

.statLabel {
    color: $lightText;
    font-size: 1.6rem;
}

.pink {
    color: $magenta;
}

.blue {
    color: $royal;
}

.focusElement {
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
}

.dotsBtn {
  position: absolute;
  right: 1rem;
  top: 1.6rem;
}

.lock {
    height: 1.6rem;
    left: 2.4rem;
    margin-right: 1.6rem;
    position: absolute;
    top: 2.4rem;
    width: 1.6rem;

    @include r(768) {
        height: 2rem;
        width: 2rem;
    }
}

.esButton {
  display: block;
  flex-grow: 0;
  white-space: nowrap;

  @include r(960) {
    width: 100%;
  }

  span {
    display: none;

    @include r(374) {
      display: inline;
    }
  }
}
