@import "variables";
@import "mixins";

//.centered {
//  text-align: left;
//}

.journalEntry {
  text-align: left;
  background-color: white;
  border: 1px solid $lightest;
  border-radius: 12px;
  margin: 0 .8rem 2.4rem;
  padding: 2.4rem 1.6rem;
  overflow: hidden;
  position: relative;

  @include r(600) {
    padding: 3.2rem 2.4rem;
  }

  @include r(768) {
    margin: 0 auto 4.8rem;
    max-width: 64rem;
    padding: 3.2rem;
  }

  &.new {
    @include shadowbox;
    border: 0;
  }

  .backgroundImage {
    bottom: -4rem;
    left: -2.4rem;
    margin: 0 auto;
    position: relative;
    right: 0;
    width: 120%;

    @include r(600) {
      bottom: -2.4rem;
      height: auto;
      left: 60%;
      position: absolute;
      width: 60%;
    }

    /* &.randomBackground {
      //background: url(assets/images/maroonTriangleBlob.svg) left -56px bottom -28px/260px;


      &.bg0 {
        background: url(assets/images/maroonTriangleBlob.svg) left -56px bottom -28px/260px no-repeat
      }

      &.bg1 {
        background: url(assets/images/yellowNeedleBlob.svg) right -216px bottom -180px/480px no-repeat
      }

      &.bg2 {
        background: url(assets/images/pinkBlob.svg) left -56px bottom -11px/180px no-repeat
      }

      &.bg3 {
        background: url(assets/images/lightGreenBlob.svg) right -56px bottom -11px/180px no-repeat
      }

      &.bg4 {
        background: url(assets/images/yellowBlob.svg) left -56px bottom -11px/180px no-repeat
      }

    } */
  }
}

.buttonContainer {
  display: flex;
  margin-top: 1.6rem;
}

.topic,
.subtext {
  @include r(768) {
    max-width: 66%;
  }
}

.topic {
  margin-bottom: .8rem;
}

.dateContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.6rem;
  position: relative;
  z-index: 1;

  .date {
    font-size: 1.6rem;
    flex-grow: 1;
    opacity: .8;
    display: flex;

    &.edited {
      color: $lightText;
      font-size: 1rem;
    }
  }
}

.entry {
  padding-left: 2rem;
  position: relative;
  white-space: pre-line;
  margin: 1.6rem 0;

  &:before {
    background-color: $yellow;
    border-radius: .4rem;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: .4rem;
  }
}


button, a.button {
  align-items: center;
  display: inline-flex;
  flex-grow: 0;
  margin-right: .8rem;

  svg {
    fill: $darkGreen;
    height: 1.6rem;
    margin-right: .8rem;
    width: 1.6rem;
  }

  &.icon {
    padding: .9rem;

    svg {
      margin-right: 0;
    }
  }

  &.primary svg {
    fill: white;
  }
}


.doneStatus {
  background-color: $lightPink;
  border-radius: 2rem;
  color: $darkestPink;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 2.4rem;
  padding: 0 .8rem;
  text-transform: uppercase;
}
