@import "variables";
@import "mixins";

.journalEntry {
  @include shadowbox;
  margin: 0 auto 3.2rem;
  overflow: hidden;
  padding: 1.6rem 1.6rem 2.4rem;
  position: relative;
  text-align: left;

  @include r(600) {
      max-width: 64rem;
      padding: 3.2rem 2.4rem;
  }

  @include r(768) {
    margin-bottom: 4.8rem;
    padding: 3.2rem;
  }
}

.hasNote {
    overflow: visible;

    .backgroundImage {
        bottom: -1.6rem;
        left: auto;
        margin: 0;
        position: absolute;
        right: -1.6rem;
        top: auto;
        z-index: -1;

        @include r(600) {
            height: 23.5rem;
        }
    }
}

.even .hasNote .backgroundImage {
    left: -1.6rem;
    right: auto;
}

.backgroundImage {
  height: 23rem;
  margin: 0 0 -14rem;
  overflow: hidden;
  position: relative;
  right: 0;
  z-index: 0;

  @include r(600) {
    height: 100%;
    margin: 0;
    position: absolute;
    right: -4.4rem;
    top: 7.2rem;
  }

  img {
    display: block;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
  }
}

.menuParent {
  position: relative;
  z-index: 2;
}

.textContainer {
  position: relative;
  z-index: 1;

    @include r(600) {
        max-width: 66%;

        .hasNote & {
            max-width: none;
        }
    }
}

.question,
.topic {
  word-break: break-word;
  font-size: 2.1rem;

  @include r(600) {
    font-size: 2.4rem;
  }
}

.date {
  font-size: 1.6rem;
  margin: .8rem 0 .4rem;
  opacity: .8;
  display: flex;
}

.menuParent {
    position: absolute;
    right: .8rem;
    top: 1.4rem;

    @include r(600) {
        top: 2.8rem;
    }
}

.entry {
    padding-left: 2rem;
    position: relative;
    white-space: pre-line;
    margin: 1.6rem 0 1.6rem -2rem;
    word-break: break-word;

    @include r(600) {
        margin: 1.6rem 0;
        max-width: 66%;
    }

    &:before {
        background-color: $yellow;
        border-radius: 0 .4rem .4rem 0;
        content: '';
        display: block;
        height: 100%;
        left: .4rem;
        position: absolute;
        top: 0;
        width: .4rem;

        @include r(600) {
            border-radius: .4rem;
            left: 0;
        }
    }

    .hasNote & {
        @include r(600) {
            max-width: none;
        }
    }
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  margin-top: 2.4rem;
  position: relative;
  z-index: 1;

  @include r(600) {
    flex-direction: row;
  }

  button.secondary {

      &:focus {
          box-shadow: 0 0 3px 2pt $darkGreen;
          outline: none;
      }
    @include maxW(600) {
      background-color: $white;
    }
  }
}

.button + button {
  margin-top: 1.6rem;

  @include r(600) {
    margin-top: 0;
  }
}

button, a.button {
  align-items: center;
  display: inline-flex;
  flex-grow: 0;
  justify-content: center;
  margin: 0;
  width: 100%;

  @include r(600) {
    margin-right: .8rem;
    width: auto;
  }

  svg, img {
    fill: $darkGreen;
    height: 1.6rem;
    margin-right: .8rem;
    width: 1.6rem;
  }

  &.icon {
    padding: .9rem;

    svg {
      margin-right: 0;
    }
  }

  &.primary svg {
    fill: white;
  }
}

.wiggle:hover {
  svg, img {
    animation: wiggle .5s forwards;
  }
}
