@import "variables";
@import "mixins";
@import "forms";


.modal-window {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-modalWindow;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;


  &.open {
    opacity: 1;
    pointer-events: auto;
  }

  & > div {
    background-color: white;
    border-radius: 12px;
    box-shadow: #000 0 11px 28px -8px;
    width: 56rem;
    max-width: 90vw;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    padding: 3.2rem;
    max-height: 90vh;
    word-break: break-word;
    overflow-y: auto;

    @include r(768) {
      text-align: left;
    }
  }

  h2 {
    margin: 1.6rem 0 .8rem;

    @include r(768) {
      margin: 0 0 .8rem;
    }
  }

  img {
    width: 100%;
  }

  .button {
    display: inline-block;
    margin-top: 2rem;
  }

  .modal-content {
    .error {
      color: red;
      margin-bottom: 1rem;
    }

    form {
      display: flex;
      flex-direction: column;
      input {
        margin: 1.6rem 0;
        width: 100%;
      }
    }

  }

}

.modal-close {
  position: absolute;
  right: 1.6rem;
  top: 1.6rem;

  svg {
    display: block;
  }
}
