@import "mixins";

.prompt-content-card {
    padding: 4rem 0;

    @include r(374) {
        //do not add margin, width, or padding here; it makes the cards jumpy
        padding: 5.6rem 0;
    }
}

.actions {
    bottom: 0;
    left: 0;
    padding: 2.4rem;
    position: fixed;
    width: 100%;

    @include r(600) {
        align-items: center;
        display: flex;
        margin-top: 5.6rem;
        padding: 3.2rem;
        position: static;

        .button {
            flex-grow: 0;
            min-width: 16rem;
        }

        .button + .button {
            margin-left: 1.6rem;
        }
    }
    @include r(768) {
        padding: 0;
    }

    &:empty {
        display: none;
    }
}

.caption {
    font-size: 1.6rem;
    margin: 0 1.6rem 4rem;
    opacity: .8;

    @include r(768) {
        margin: 0 auto 4rem;
    }
}