@import "variables";
@import "mixins";

.twBtn {
  background-color: $twitter;

  &:hover {
    background-color: darken($twitter, 5%)
  }
}

.fbBtn {
  background-color: $facebook;

  &:hover {
    background-color: darken($facebook, 5%)
  }
}

.wiggle:hover {
    img, svg {
        animation: wiggle .5s forwards;
    }
} 
