$font-stack:    'Lato', sans-serif;
$darkText:      #444;
$lightest:      #F1EBE7;
$lightText:     #757575;
$lightGray:     #E2E2E2;
$lightestGreen: #D6E4E6;
$lightGreen:    #B9EFE9;
$green:         #33CCAB;
$darkGreen:     #29A389;
$darkerGreen:   #0B6E79;
$darkestGreen:  #07454c;
$lightPink:     #FFE4DA;
$darkPink:      #FDBCA3;
$darkestPink:   #7A3814;
$yellow:        #F9EB91;
$darkYellow:    #F4DD48;
$darkestYellow: #F4DD48;
$white:         #ffffff;
$lightBlue:     #e6f9f7;
$bgDefault:     $white;
$bgLight:       $lightest;

$red:           #cc3333;
$twitter:       #1da1f2;
$facebook:      #3b5998;

$beige:         #F0ECEA;
$magenta:       #CC33A1;
$royal:         #6590ED;
$turquoise:     #0DADB1;
$indigo:        #294FA3;

$dolphin:       #47445E;
$mediumDolphin: #5e5a7c;
$lightDolphin:  #9490b0;
$coral:         #FF7866;
$pink:          #FF99B2;
$teal:          #00cee5;
$bgGreen:       #F2F6F7;
$bgDolphin:     #F6F6F9;


//z-indexes
$z-dropdownContainer: 1500;
$z-dropdownBtn: 100;
$z-fabContainer: 1600;
$z-snackbar: 5000;
$z-navBar: 1001;
$z-modal: 9998;
$z-modalWindow: 999;