
$font-stack:    'Lato', sans-serif;
$darkText:      #444;
$lightText:     #757575;
$lightGreen:    #B9EFE9;
$green:         #33CCAB;
$darkGreen:     #29A389;
$darkestGreen:  #07454C;
$lightPink:     #FFE4DA;
$pink:          #FFBCA3;
$darkestPink:   #7A3814;
$yellow:        #F9EB91;
$darkYellow:    #F4DD48;
$darkestYellow: #F4DD48;
