
$font-stack:    'Lato', sans-serif;
$darkText:      #444;
$lightest:      #F1EBE7;
$lightText:     #757575;
$lightGreen:    #B9EFE9;
$green:         #33CCAB;
$darkGreen:     #29A389;
$darkestGreen:  #07454C;
$lightPink:     #FFE4DA;
$pink:          #FFD6C7;
$darkPink:      #FDBCA3;
$darkestPink:   #7A3814;
$yellow:        #F9EB91;
$darkYellow:    #F4DD48;
$darkestYellow: #F4DD48;
$white:         white;
$lightBlue:     #e6f9f7;
$bgDefault:     $white;
$bgLight:       $lightest;
$twitter:       #1da1f2;
$facebook:      #3b5998;
