@import "~styles/mixins";
@import "~styles/variables";
@import "~styles/common";
@import "~styles/simplyCentered";

section {
  animation: slide 1s ease-in-out forwards;
  opacity: 0;
  transform: translateY(3.2rem);
}
