@import "~styles/mixins";
@import "~styles/variables";
@import "~styles/common";
@import "~styles/modal";

body {
  overflow-x: hidden;
}

html {
  @include maxW(768) {
    overflow-x: hidden;
  }
}

body {
  background-image: url(assets/images/yellowBlob.svg), url(assets/images/yellowNeedleBlob.svg);
  background-position: center 365px, center 285px;
  background-size: 745px, 740px;

  @include r(768) {
    background-position: left 56vw top -300px, left 67vw top -110px;
    background-size: 720px, 740px;
  }
}

header {
  a.button, button {
    @include r(768) {
      display: none;
    }
  }

}

//This is the target for the sign-up jump button
#sign-up {
  position: relative;
  top: -6rem;
  height: 0;
  width: 100%;
  grid-area: target;
}

.hero {
  display: grid;
  grid-template-areas: "heroText" "demo" "target" "form";
  position: relative;

  @include r(768) {
    grid-template-columns: 50% auto;
    grid-template-rows: auto auto;
    grid-template-areas: "heroText demo" "form     demo";
    text-align: left;
  }
  @include r(1024) {
    grid-template-columns: 66% auto;
    grid-template-rows: auto auto;
  }

  .heroText {
    align-self: end;
    grid-area: heroText;
  }

  h1 {
    margin: .8rem 2.4rem 1.6rem;

    @include r(768) {
      margin: 0 2.4rem 2.4rem;
      max-width: 65rem;
    }
  }

  .subtext {
    margin: 0 2.4rem;

    @include r(768) {
      margin-bottom: 2.4rem;
    }
  }

  .heroForm {
    align-self: start;
    background-color: white;
    grid-area: form;
    justify-content: center;
    padding-top: 3.2rem;
    z-index: 2;
    @include r(768) {
      background-color: transparent;
      justify-content: flex-start;
      max-width: 70rem;
      padding-top: 0;
    }

    input[type=email],
    button {
      @include r(768) {
        margin-bottom: 1.6rem;
      }
      @include r(1024) {
        margin-bottom: 0;
      }
    }
  }
}

#signupAnchor {
  left: 0;
  position: absolute;
  top: 32rem;
}

.phoneContainer {
  grid-area: demo;
  height: 58rem;
  overflow: hidden;
  position: relative;
  text-align: center;

  &:after {
    background: url(assets/images/device.png) center top no-repeat;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  @include r(768) {
    height: auto;
  }

  video, img {
    margin: 70px auto;
  }

  img {
    max-height: 569px;
    max-width: 264px;
  }
}

form {
  display: flex;
  flex-flow: column wrap;
  padding: 0 2.4rem 4rem;

  @include r(600) {
    flex-direction: row;
  }

  &.lower {
    @include r(768) {
      justify-content: center;
    }
  }
}


.listHeader {
  color: $darkestPink;
}

.list {
  .subtext {
    display: none;

    @include r(768) {
      display: block;
      margin-bottom: 4.8rem;
    }
  }
}

.why {
  background-color: $lightPink;
  padding: 8rem 2.4rem;
  position: relative;

  @include r(768) {
      padding: 11rem 2.4rem;
  }
  @include r(1024) {
    &:before {
      background: no-repeat;
      background-image: url(assets/images/maroonTriangleBlob.svg), url(assets/images/darkGreenBlob.svg);
      background-position: 5rem 8rem, 0 0;
      background-size: 44.5rem, 44rem;
      content: "";
      display: block;
      height: 47rem;
      left: -35rem;
      position: absolute;
      top: -29rem;
      width: 55rem;
    }
  }
  @include r(1500) {
    &:before {
      left: -25rem;
      top: -24rem;
    }
  }

  .listHeader {
    margin: 0 0 4rem;

    @include r(768) {
      margin-bottom: 1.6rem;
    }
  }

  .flexContainer {
    @include r(768) {
      flex-direction: row-reverse;
    }
  }

  .benefit {
    padding-bottom: 5.6rem;

    @include r(768) {
      flex-basis: 33%;
      padding-bottom: 0;
    }

    .text {
      color: $darkText;
      margin: 0 auto;
      max-width: 40rem;

      @include r(768) {
        padding: 0 2.4rem;
      }
    }
  }

  .illustration {
    margin-bottom: 2.4rem;
    height: 21rem;
    width: 23rem;
  }
}

.flexContainer {
  @include r(768) {
    display: flex;
    justify-content: center;
  }
}

.how {
  padding: 8rem 2.4rem;

  @include r(768) {
      padding: 11rem 2.4rem;
  }

  .flexContainer {
    background: url(assets/images/lineMobile.svg) no-repeat 12px 35px;
    background-size: 9% 80%;
    margin: 0 auto;
    max-width: 40rem;

    @include r(768) {
      background: url(assets/images/lineDesktop.svg) no-repeat center top 11px;
      background-size: 70vw;
      max-width: none;
    }
    @include r(1140) {
      background-position: center top;
      background-size: auto;
    }
  }

  .benefit {
    align-items: flex-start;
    display: flex;
    margin-bottom: 4rem;
    min-height: 7.5rem;
    text-align: left;

    @include r(768) {
      align-items: center;
      flex-basis: 25%;
      flex-flow: column wrap;
      margin-bottom: 0;
      min-height: none;
      text-align: center;
    }
  }

  .icon {
    align-items: center;
    background-color: $lightGreen;
    border-radius: 4rem;
    display: flex;
    flex-shrink: 0;
    height: 4.8rem;
    justify-content: center;
    margin-right: 1.6rem;
    width: 4.8rem;

    @include r(768) {
      height: 6.4rem;
      margin: 0 0 1.6rem;
      width: 6.4rem;
    }
  }

  .iconImg {
    height: 4rem;
    overflow: visible;
    padding: .8rem;
    width: 4rem;

    @include r(768) {
      height: 4.8rem;
      width: 4.8rem;
    }
  }

  .text {
    margin: 0;

    @include r(768) {
      padding: 0 2.4rem;
    }
  }
}

.how h2,
.testimonials h2,
.private h2 {
  margin: 0 0 3.2rem;

  @include r(768) {
    margin-bottom: 1.6rem;
  }
}

.testimonials {
  padding: 8rem 0;

  @include r(768) {
    background: no-repeat;
    background-image: url(assets/images/greenVs.svg), url(assets/images/pinkBlob.svg);
    background-position: right -16rem center, right -24rem center;
    background-size: 39rem, 45rem;
    padding: 11rem 0 4rem;
  }

  .flexContainer {
    display: flex;
    margin: 0;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    padding: .8rem 2.4rem;
    scroll-snap-type: x mandatory;

    @include r(768) {
      flex-flow: row wrap;
    }
  }

  .quote {
    @include shadowbox;
    align-items: flex-start;
    margin: 0 3.2rem 4rem 0;
    max-width: 45rem;
    min-width: 80vw;
    padding: 3.2rem;
    scroll-snap-align: center;
    text-align: left;

    @include r(600) {
      flex-basis: 44%;
      margin: 0 1.6rem 3.2rem;
      min-width: 32rem;
    }
    @include r(1024) {
      margin: 0 2vw 6.4rem;
    }
  }

  .avatar {
    margin-bottom: 1.6rem;
    text-align: center;
  }

  .avatarImg {
    height: 8.7rem;
    width: 8.2rem;
  }

  .name {
    font-size: 1.6rem;
    margin: 0;
    opacity: .5;
  }

  .quoteText {
    margin: 0;
  }
}

.private {
    background-color: lighten($lightGreen, 10%);
    padding: 8rem 2.4rem;
    position: relative;
    z-index: 0;

    @include r(768) {
        padding: 11rem 2.4rem;
    }

    &:before {
        background-image: url(assets/images/yellowBlob.svg);
        background-repeat: no-repeat;
        background-size: 170px;
        content: "";
        height: 170px;
        position: absolute;
        right: -110px;
        top: -30px;
        width: 170px;

        @include r(768) {
            background-position: calc(50% - 72px) 0;
            right: 0;
            top: 62px;
            width: 100%;
            z-index: -1;
        }
    }

    &:after {
        @include r(768) {
            background-image: url(assets/images/maroonTriangleBlob.svg);
            background-position: calc(50% - 32px) 0;
            background-repeat: no-repeat;
            background-size: 290px;
            content: "";
            height: 250px;
            position: absolute;
            right: 87px;
            top: 140px;
            width: 100%;
            z-index: -1;
        }
    }

    .centered {
        max-width: 60rem;
        text-align: left;

        @include r(768) {
            align-items: center;
            display: flex;
            justify-content: center;
            max-width: 1200px;
        }
    }

    .text {
        @include r(768) {
            margin-left: 12.8rem;
            max-width: 42rem;
        }

        p {
            margin-bottom: 1.6rem;

            &:last-child {
              margin-bottom: 0;
            }
        }
    }

    .reflection {
        @include shadowbox;
        margin-bottom: 5.6rem;
        padding: 2.4rem;
        position: relative;
        text-align: left;

        @include r(768) {
            max-width: 48rem;
            width: 50%;
        }

        &:before {
            @include shadowbox;
            background-color: mix($lightGreen, white, 33%);
            bottom: -1.6rem;
            content: '';
            filter: blur(2px);
            height: 50px;
            left: 0;
            margin: 0 auto;
            position: absolute;
            right: 0;
            width: 80%;
            z-index: -1;

            @include r(768) {
                bottom: -3.2rem;
            }
        }

        &:after {
            @include shadowbox;
            background-color: mix($lightGreen, white, 50%);
            bottom: -3.2rem;
            content: '';
            filter: blur(4px);
            height: 50px;
            left: 0;
            margin: 0 auto;
            position: absolute;
            right: 0;
            width: 60%;
            z-index: -2;

            @include r(768) {
                bottom: -6.4rem;
            }
        }

        .flexContainer {
            align-items: center;
            display: flex;
            justify-content: space-between;
            margin-bottom: 1.6rem;
        }

        .date {
            color: $darkestPink;
            font-size: 1.6rem;
            }

        button {
            background: transparent;
            border: 1px solid $lightGreen;
            box-shadow: none;
            display: flex;
            flex-grow: 0;
            height: 3rem;
            justify-content: center;
            margin: 0;
            padding: 0;
            width: 3rem;
        }

        .iconImg {
            height: 2rem;
            width: 2rem;
        }

        .question {
            font-weight: bold;
            margin-bottom: .8rem;
        }
    }

    .blink {
        animation: blink 1s infinite;
    }
}

.email {
  background: url(assets/images/yellowNeedles.svg) $yellow;
  background-size: 80%;
  padding: 5.6rem 0 .8rem;
  position: relative;
  z-index: 1;

  @include r(768) {
    background-size: 30%;
  }

  .emailHeader {
    font-size: 2.4rem;
    margin: 0 0 .8rem;
    padding: 0 2.4rem;

    @include r(768) {
      font-size: 3.2rem;
    }
  }

  .subtext {
    margin: 0 0 2.4rem;
    padding: 0 2.4rem;
  }

  input[type=email] {
    border-color: $darkYellow;

    &:hover {
      border-color: $darkestYellow;
    }
  }
}


/*
    / \
   |v  |
 _ |  v|
/ ||v  |  _.
|v||  v|/_/
| ||v  | _
|v||  v|| \
 \||v  ||v |
   |  v||  |
   |v  ||v |
   |  v||  |
   |v  ||v |
   |  v||_/
   |v  |
   \   |
    \__|
*/
