@import "~styles/mixins";
@import "~styles/variables";
@import "~styles/common";
@import "~styles/modal";

body {
  overflow-x: hidden;
}


html {
  @include maxW(768) {
    overflow-x: hidden;
  }

}


.button.learnMore {
  z-index: 5;
}

.hero {
  background-color: $lightPink;
  height: 100vh;
  position: relative;

  @include r(1140) {
    height: 185vh;
  }

  &:before {
    background-image: url(assets/images/yellowNeedleBlob.svg);
    background-repeat: no-repeat;
    background-size: 510px;
    content: "";
    height: 64rem;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(61vw, -19vh);
    width: 64rem;
  }

  &:after {
    background-image: url(assets/images/stem.svg);
    background-repeat: no-repeat;
    background-size: 170px;
    bottom: -24vh;
    content: "";
    height: 420px;
    left: 80vw;
    position: absolute;
    transform: rotate(125deg);
    width: 180px;
  }

  .copy {
    align-items: center;
    top: 0;
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
    justify-content: center;
    padding: 2.4rem;
    position: sticky;
    text-align: center;
    z-index: 3;
  }

  .logoLink {
    display: block;
    margin-left: 32px;
    position: absolute;
    top: 24px;
    z-index: 3;
  }

  h4 {
    color: $darkestPink;
    margin-bottom: .8rem;
  }

  h1 {
    margin-bottom: 1.6rem;
  }

  .subtext {
    margin-bottom: 3.2rem;

    @include r(768) {
      font-size: 2.4rem;
      margin: 0 auto 3.2rem;
      max-width: 47rem;
    }
  }

  .reflection {
    margin-bottom: 3.2rem;
    width: 32rem;
  }
}


.reflections {
  display: none;

  @include h(768) {
    @include r(960) {
      align-items: flex-end;
      bottom: 0;
      display: flex;
      flex-flow: column nowrap;
      height: 100vh;
      left: 0;
      padding: 3.2rem;
      position: absolute;
      text-align: left;
      width: 100vw;
      z-index: 2;
    }
  }
}

#reflection1 {
  transform: translate(-20vw, -10vh);
}
#reflection2 {
  transform: translate(-60vw, -10vh);
}
#reflection3 {
  transform: translate(10vw, 20vh);
}
#reflection4 {
  display: none;

  @include h(960) {
    display: block;
    transform: translate(-80vw, 15vh);
  }
}

#leaf1 {
  bottom: -1vh;
  left: 52vw;
  position: absolute;
  transform: rotate(-5deg);
}
#leaf2 {
  left: 25vw;
  position: absolute;
  top: 75vh;
  transform: rotate(30deg);
}
#leaf3 {
  left: 75vw;
  position: absolute;
  top: 20vh;
}
#leaf4 {
  display: none;

  @include r(1140) {
    bottom: 25vh;
    display: block;
    left: 19vw;
    position: absolute;
    transform: rotate(-60deg);
  }
}

#stem1 {
  display: none;

  @include r(768) {
    display: block;
    left: 45vw;
    position: absolute;
    top: -28vh;
  }
}

#yellowBlob1 {
  display: none;

  @include r(768) {
    display: block;
    height: 20rem;
    position: absolute;
    right: -9vw;
    top: 21vh;
    transform: rotate(-75deg);
    width: 20rem;
  }
}
#yellowBlob2 {
  display: none;

  @include r(768) {
    display: block;
    height: 20rem;
    left: 0;
    position: absolute;
    top: 0;
    transform: translate(-7vw, 64vh);
    width: 20rem;
    z-index: 1;
  }
}
#pinkBlob {
  display: none;

  @include r(1140) {
    display: block;
    height: 54rem;
    left: 0;
    position: absolute;
    top: 0;
    transform: translate(81vw, 60vh);
    width: 51rem;
  }
}
#greenBlob {
  display: none;

  @include r(1140) {
    display: block;
    height: 52rem;
    left: 0;
    position: absolute;
    top: 0;
    transform: translate(-12vw, 26vh);
    width: 50rem;
  }
}

h2 {
  margin-bottom: 1.6rem;
}

.centered {
  max-width: 60rem;
  text-align: left;

  @include r(768) {
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 1200px;
  }
}

.text {
  @include r(768) {
    max-width: 42rem;
  }

  p {
    margin-bottom: 1.6rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

a.button {
  flex-grow: 0;
}

.reflection {
  @include shadowbox;
  padding: 2.4rem;

  .flexContainer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.6rem;
  }

  .date {
    color: $darkestPink;
    font-size: 1.6rem;
  }

  button {
    background: transparent;
    border: 1px solid $lightGreen;
    box-shadow: none;
    display: flex;
    flex-grow: 0;
    height: 3rem;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 3rem;
  }

  .iconImg {
    height: 2rem;
    width: 2rem;
  }

  .question {
    font-weight: bold;
    margin-bottom: .8rem;
  }
}

.truck {
  padding: 8rem 2.4rem;

  @include r(768) {
    padding: 8.8rem 2.4rem;
    position: relative;
    z-index: 1;
  }
  @include r(1400) {
    margin-top: -20rem;
  }

  .centered {
    @include r(768) {
      flex-flow: row-reverse;
    }
  }

  .graphic {
    @include r(768) {
      width: 50%;
    }
  }

  .foodtruck {
    display: block;
    margin: 0 auto 3.2rem;
    width: 100%;
  }

  .text {
    @include r(768) {
      margin-right: 6.4rem;
    }
  }

  .reflection {
    font-size: 1.6rem;
    margin: 0 auto -6rem;
    position: relative;
    width: 26rem;
    z-index: 1;

    @include r(768) {
      font-size: 1.8rem;
      width: 28rem;
    }

    &:after {
      content: " ";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -8px;
      border-width: 8px;
      border-style: solid;
      border-color: white transparent transparent transparent;
    }

    .question {
      margin-bottom: 0;
    }
  }
}

.private {
  background-color: $lightGreen;
  padding: 8rem 2.4rem;
  position: relative;
  z-index: 0;

  @include r(768) {
    padding: 12rem 2.4rem;
  }

  &:before {
    background-image: url(assets/images/yellowBlob.svg);
    background-repeat: no-repeat;
    background-size: 170px;
    content: "";
    height: 170px;
    position: absolute;
    right: -110px;
    top: -30px;
    width: 170px;

    @include r(768) {
      background-position: calc(50% - 32px) 0;
      right: 0;
      top: 32px;
      width: 100%;
      z-index: -1;
    }
  }

  &:after {
    @include r(768) {
      background-image: url(assets/images/maroonTriangleBlob.svg);
      background-position: calc(50% - 32px) 0;
      background-repeat: no-repeat;
      background-size: 290px;
      content: "";
      height: 250px;
      position: absolute;
      right: 87px;
      top: 140px;
      width: 100%;
      z-index: -1;
    }
  }

  .text {
    @include r(768) {
      margin-left: 12.8rem;
    }
  }

  .reflection {
    margin-bottom: 5.6rem;
    position: relative;

    @include r(768) {
      max-width: 48rem;
      width: 50%;
    }

    &:before {
      @include shadowbox;
      background-color: mix($lightGreen, white, 33%);
      bottom: -1.6rem;
      content: '';
      filter: blur(2px);
      height: 50px;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      width: 80%;
      z-index: -1;

      @include r(768) {
        bottom: -3.2rem;
      }
    }

    &:after {
      @include shadowbox;
      background-color: mix($lightGreen, white, 67%);
      bottom: -3.2rem;
      content: '';
      filter: blur(4px);
      height: 50px;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      width: 60%;
      z-index: -2;

      @include r(768) {
        bottom: -6.4rem;
      }
    }
  }
}

.thrive {
  padding: 8rem 2.4rem;

  @include r(768) {
    padding: 8.8rem 2.4rem;
  }

  .centered {
    @include r(768) {
      flex-flow: row-reverse;
    }
  }

  .mirror {
    display: block;
    margin: 0 auto 3.2rem;
    width: 100%;

    @include r(768) {
      margin: 0 0 3.2rem;
      width: 50%;
    }
  }

  .text {
    @include r(768) {
      margin-right: 6.4rem;
    }
  }

  .button {
    display: inline-block;
    margin-top: .8rem;
  }
}

.recap {
  background-color: $yellow;
  background-image: url(assets/images/yellowNeedles.svg);
  background-size: 44rem;
  padding: 8rem 2.4rem;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 1;

  .centered {
    flex-direction: column;
    text-align: center;
  }

  h2 {
    font-size: 2.4rem;
    margin-bottom: 3.2rem;

    @include r(768) {
      font-size: 3.2rem;
      margin-bottom: 2.4rem;
      padding: 0 2.4rem;
    }
  }

  .icon {
    flex-shrink: 0;
    margin-right: 1.6rem;
  }

  .smallText {
    margin: 0 auto;
    max-width: 60rem;
    text-align: center;
  }

  a.button {
    display: inline-block;
    margin: 1.6rem 0 3.2rem;
  }

  .heart {
    color: #FFBCA3;
  }
}

.features {
  margin-bottom: 10rem;
  text-align: left;

  @include r(768) {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 0;
  }
}

.feature {
  align-items: center;
  display: flex;
  margin-bottom: 3.2rem;

  @include r(768) {
    display: block;
    font-size: 1.6rem;
    margin-bottom: 4.8rem;
    padding-right: 4rem;
    width: 20%;

    &:last-child {
      padding-right: 0;
    }
  }
  @include r(960) {
    font-size: 1.8rem;
  }
}

.smallText {
  font-size: 1.4rem;
}

.blink {
  animation: blink 1s infinite;
}
