@import "~styles/mixins";
@import "~styles/variables";
@import "~styles/common";
@import "~styles/simplyCentered";

body {
    align-items: center;
}

.centered {
    text-align: center;
}

.graphic {
    max-width: 60vw;
}

h1 {
    margin-bottom: .8rem;
}

p {
    margin: 0 auto 2.4rem;
    max-width: 60rem;
}

.button {
    display: inline-block;
}
