@import "~styles/mixins";
@import "~styles/variables";
@import "~styles/common";
@import "~styles/simplyCentered";

body {
    align-items: flex-start;
    background-color: $beige;

    @include r(600) {
        align-items: center;
    }
}

.centered {
    text-align: left;

    @include r(600) {
        text-align: center;
    }
}

.graphic {
    max-width: 60vw;
}

h1 {
    line-height: 1.2;
    margin-bottom: .8rem;
}

p {
    margin: 0 auto 2.4rem;
    max-width: 60rem;
}

.button {
    display: inline-block;
}
