@import "~styles/mixins";
@import "~styles/variables";
@import "~styles/common";
@import "~styles/simplyCentered";

header {
  border-bottom: none;
}

.message {
  max-width: 720px;
  line-height: 1.5em;
  a {
    @include fancyLink;
  }

  &.smaller {
    font-size: 1.6rem;
  }
}
