@import "~styles/mixins";
@import "~styles/variables";
@import "~styles/common";
@import "~styles/modal";

body {
    background-color: $darkestGreen;
    background-image: url(/assets/images/grainy.png), url(/assets/images/loginBG.svg);
    background-position: center;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
}

.page-wrapper {
    position: relative;

    header {
        position: relative;
        z-index: 2;

        .centered {
            justify-content: center;
        }
    }

    .signin-wrapper {
        color: $white;
        flex-grow: 1;
        overflow: hidden;
        margin: 0 auto 4rem;
        min-height: calc(100vh - 30rem);
        position: relative;
        z-index: 2;

        @include r(600) {
            min-height: calc(100vh - 19rem);
        }
    }

    .firebaseui-tos,
    .firebaseui-link {
        color: $white;
    }

    .firebaseui-link {
        text-decoration: underline;
    }
}
