@import "~styles/mixins";
@import "~styles/variables";
@import "~styles/common";
@import "~styles/modal";

html, body {
  //overflow: hidden;
}

.page-wrapper {
  min-height: 100vh;
  position: relative;

  .signin-wrapper {
    flex-grow: 1;
    overflow: hidden;
    margin: 0 auto 4rem;
  }
}