@import "~styles/common";
@import "~styles/mixins";
@import "~styles/variables";
@import "~styles/simplyCentered";

@keyframes fadein{
  0% { opacity:0; }
  100% { opacity:1; }
}

#loading-container {

  animation: 2s ease 0s normal forwards 1 fadein;

  img {
    animation: rotate 1s linear infinite;
    height: 2rem;
    margin: 0 .8rem .4rem 0;
    transform-origin: center;
    vertical-align: middle;
    width: 2rem;
  }
}


body {
  &.error {
    //background: $darkText url(assets/images/sadCactusPatternWhiteTransparent.svg);
    //color: white;
  }
}
