@import "~styles/mixins";
@import "~styles/variables";
@import "~styles/common";
@import "~styles/modal";

body {
  overflow-x: hidden;
}

html {
  @include maxW(768) {
    overflow-x: hidden;
  }
}

.buttonContainer {
  z-index: 5;

  .button {
    display: inline-block;
    margin: 0 .4rem;
  }

  .button.white {
    background-color: white;
    box-shadow: none;
    color: $darkGreen;
  }
}

.hero {
  background-color: lighten($lightGreen, 5%);
  height: 100vh;
  position: relative;

  &:before {
    background-image: url(assets/images/yellowNeedleBlob.svg);
    background-repeat: no-repeat;
    background-size: 730px;
    content: "";
    height: 74rem;
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(-39deg) translate(64vw, 49vh);
    width: 74rem;
  }

  &:after {
    background-image: url(assets/images/stem2.svg);
    background-repeat: no-repeat;
    background-size: 170px;
    bottom: 80vh;
    content: "";
    height: 420px;
    left: 95vw;
    position: absolute;
    transform: rotate(25deg);
    width: 180px;
  }

  .copy {
    align-items: center;
    top: 0;
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
    justify-content: center;
    padding: 2.4rem;
    position: sticky;
    text-align: center;
    z-index: 3;
  }

  .logoLink {
    display: block;
    margin-left: 32px;
    position: absolute;
    top: 24px;
    z-index: 3;
  }

  h4 {
    color: $darkestPink;
    margin-bottom: .8rem;
  }

  h1 {
    margin-bottom: 1.6rem;
  }

  .subtext {
    margin-bottom: 3.2rem;

    @include r(768) {
      font-size: 2.4rem;
      margin: 0 auto 3.2rem;
      max-width: 47rem;
    }
  }

  .reflection {
    margin-bottom: 3.2rem;
    width: 32rem;
  }
}

#yellowBlob1 {
  display: none;

  @include r(768) {
    display: block;
    height: 60rem;
    position: absolute;
    right: -13vw;
    top: -25vh;
    transform: rotate(-140deg);
    width: 57rem;
  }
}

// End Hero

.listHeader {
  color: $darkestPink;
}

.list {
  .subtext {
    display: none;

    @include r(768) {
      display: block;
      margin-bottom: 4.8rem;
    }
  }
}

.threeUp {
  padding: 8rem 2.4rem;
  position: relative;

  @include r(768) {
      padding: 9rem 2.4rem;
  }

  .listHeader {
    margin: 0 0 4rem;

    @include r(768) {
      margin-bottom: 1.6rem;
    }
  }

  .benefit {
    padding-bottom: 5.6rem;

    @include r(768) {
      flex-basis: 33%;
      padding-bottom: 0;
    }

    .text {
      color: $darkText;
      margin: 0 auto;
      max-width: 40rem;

      @include r(768) {
        padding: 0 2.4rem;
      }
    }
  }

  .illustration {
    margin-bottom: 2.4rem;
    height: 20rem;
    width: 30rem;
  }
}

.flexContainer {
  @include r(768) {
    display: flex;
    justify-content: center;
  }
}

.twoUp {
    padding: 8rem 2.4rem;

    @include r(768) {
        padding: 8.8rem 2.4rem;
    }

    &.pink {
        background-color: lighten($lightPink, 3%);
    }
    &.green {
        background-color: lighten($lightGreen, 10%);
    }
    &.noPaddingBtm {
        padding-bottom: 0;

        .text {
            padding-bottom: 8rem;

            @include r(768) {
                padding-bottom: 8.8rem;
            }
        }
    }

    .centered {
        max-width: 60rem;
        text-align: left;

        @include r(768) {
            /* align-items: center;
            display: flex;
            flex-flow: row-reverse; */
            align-items: center;
            display: grid;
            grid-column-gap: 6.4rem;
            /* justify-content: center; */
            grid-template-columns: 50% 50%;
            justify-items: center;
            max-width: 120rem;
        }
    }

    h2 {
        margin-bottom: 1.6rem;
    }

    .graphic {
        display: block;
        margin: 0 auto 3.2rem;
        width: 100%;

        @include r(768) {
            margin: 0;
        }

        &.flip {
            transform: scaleX(-1);
        }
    }

    .text {
        @include r(768) {
            max-width: 42rem;
        }

        p {
            margin-bottom: 1.6rem;

            &:last-child {
              margin-bottom: 0;
            }
        }
    }

    .button {
        display: inline-block;
        margin-top: .8rem;
    }

    .cropped {
        margin-bottom: -6.4rem;
        max-height: 53rem;
        overflow: hidden;
        padding: 0 4.4rem;
        transform: translateY(-6.4rem);
    }
}
